<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <style>
        /* Set height of the content area */
        .content {
            min-height: calc(100vh - 56px); /* Adjust based on your navbar height */
            /* 56px is the default height of the navbar in Bootstrap */
        }

        /* Sidebar styling */
        .sidebar {
            height: 100vh;
            background-color: #7AA2E3; /* Coral */
            color: #2D3142; /* Dark Slate Gray */
        }

        /* Centering the carousel */
        .carousel-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        /* Styling the carousel box */
        .owl-carousel {
            width: 100%; /* Adjust as needed */
        }

        .owl-carousel .item {
            margin: 5px;
            width: 350px;
            display: inline-block; /* Ensure boxes stay inline */
        }

        /* Footer styling */
        .footer {
            background-color: #7AA2E3; /* Coral */
            color: #2D3142; /* Dark Slate Gray */
        }

        /* Text color */
        body {
            color: #2D3142; /* Dark Slate Gray */
        }

        /* Background color */
        body {
            background-color: #F8F6E3; /* Light Yellow */
        }

        /* Add this CSS to remove padding and margin inside the table */
        table.table-custom {
            border-collapse: collapse;
        }
        table.table-custom td,
        table.table-custom th {
            padding: 0;
            margin: 0;
        }


    </style>
</head>

<body>
    <div class="container-fluid content">
        <div class="row">
           <!-- Sidebar -->
            <div class="col-2 d-flex flex-column align-items-center sidebar">
                <h3 class="mt-5">Welcome: <%= user.name %></h3>
                <!-- User data -->
                <p>Email: <%= user.email %></p>
                <% if (user.ava) { %>
                    <img src="<%= user.ava %>" alt="User Avatar" style="max-width: 100px;">
                <% } else { %>
                    <!-- Use default avatar if user's avatar is not available -->
                    <img src="/img/default_ava2.svg" alt="Default Avatar" style="max-width: 100px;">
                <% } %>
                <!-- Logout button -->
                <button class="btn btn-danger mt-3" onclick="logout()">Logout</button>
                <!-- Footer information -->
                <footer class="text-center mt-auto">
                    <p>&copy; 2024 NoName Company. All rights reserved.</p>
                    <p>Designed with ❤️ by Pomogadryg</p>
                </footer>
            </div>


           <!-- Content -->
           <div class="col-10">
            <div class="carousel-container">
                <div class="owl-carousel owl-theme">
                    <% tasks.forEach(function(day) { %> <!-- Display only the first 3 days -->
                        <div class="item">
                            <div class="card">
                                <div class="card-header">
                                    <% if (today === day.date.slice(0,10)) { %>
                                        Today (<%= day.date.slice(0,10) %>)
                                    <% } else if  (tomorrow === day.date.slice(0,10)) { %>
                                        Tomorrow (<%= day.date.slice(0,10) %>)
                                    <% } else { %>
                                        <%= day.date.slice(0,10) %>
                                    <% } %>
                                    
                                </div>
                                <div class="card-body">
                                    <!-- Table layout -->
                                    <table class="table table-borderless table-custom">
                                        <% day.taskinfo.forEach(function(task, index) { %>
                                            <% if (task.description) { %>
                                                <form id="deleteForm_<%= index %>" action="/delete-task/<%= task.id %>" method="POST">
                                                    <tr>
                                                        <!-- Column 1: Importance selection -->
                                                        <td>
                                                            <% if (task.importance === "high") { %>
                                                                <!-- Red circle emoji for high importance -->
                                                                <span class="mr-2" style="color: red;">🔴</span>
                                                            <% } else if (task.importance === "medium") { %>
                                                                <!-- Yellow circle emoji for medium importance -->
                                                                <span class="mr-2" style="color: yellow;">🟡</span>
                                                            <% } else if (task.importance === "low") { %>
                                                                <!-- Green circle emoji for low importance -->
                                                                <span class="mr-2" style="color: green;">🟢</span>
                                                            <% } %>
                                                        </td>
                                                        <!-- Column 2: Task description -->
                                                        <td>
                                                            <input type="text" class="form-control" value="<%= index + 1 %>. <%= task.description %>">
                                                        </td>
                                                        <!-- Column 3: Delete button -->
                                                        <td>
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn" onclick="deleteTask(event, <%= index %>)">
                                                                    <!-- Trash can emoji -->
                                                                    🗑️
                                                                </button>                                                        
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </form>
                                            <% } %>
                                        <% }); %>
                                        <!-- Additional rows for new tasks -->

                                            <tr>
                                                <!-- Column 1: Importance dropdown menu -->
                                                <td>
                                                    <div class="input-group-prepend">
                                                        <select class="custom-select" id="">
                                                            <option value="" selected disabled>👉</option> <!-- Default "Select" option -->
                                                            <option value="high">🔴</option> <!-- Red circle emoji for high importance -->
                                                            <option value="medium">🟡</option> <!-- Yellow circle emoji for medium importance -->
                                                            <option value="low">🟢</option> <!-- Green circle emoji for low importance -->
                                                        </select>
                                                    </div>
                                                </td>
                                                <!-- Column 2: Task description -->
                                                <td>
                                                    <input type="text" class="form-control" value="" placeholder="Plan a task">
                                                </td>
                                                <!-- Column 3: Empty -->
                                                <td></td>
                                            </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>

    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    900: {
                        items: 3
                    },
                    1200: {
                        items: 4
                    }
                }


            });
        });
    </script>
    <script>
        function isToday(date) {
            const today = new Date();
            const formattedToday = formatDate(today);
            return formattedToday === date;
            }

            function isTomorrow(date) {
                const tomorrow = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
                const formattedTomorrow = formatDate(tomorrow);
                return formattedTomorrow === date;
            }

            function formatDate(date) {
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                return `${year}-${month}-${day}`;
            }

    </script>
</body>

</html>
