<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <style>
        /* Set height of the content area */
        .content {
            min-height: calc(100vh - 56px); /* Adjust based on your navbar height */
            /* 56px is the default height of the navbar in Bootstrap */
        }

        /* Sidebar styling */
        .sidebar {
            height: 75vh;
            background-color: #7AA2E3; /* Coral */
            color: #2D3142; /* Dark Slate Gray */
        }

        /* Centering the carousel */
        .carousel-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        /* Styling the carousel box */
        .owl-carousel {
            width: 100%; /* Adjust as needed */
        }

        .owl-carousel .item {
            margin: 5px;
            width: 350px;
            display: inline-block; /* Ensure boxes stay inline */
        }

        /* Footer styling */
        .footer {
            background-color: #7AA2E3; /* Coral */
            color: #2D3142; /* Dark Slate Gray */
        }

        /* Text color */
        body {
            color: #2D3142; /* Dark Slate Gray */
        }

        /* Background color */
        body {
            background-color: #F8F6E3; /* Light Yellow */
        }
    </style>
</head>

<body>
    <div class="container-fluid content">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-2 d-flex flex-column align-items-center sidebar">
                <h3 class="mt-5">Welcome: <%= user.name %></h3>
                <!-- User data -->
                <p>Email: <%= user.email %></p>
                <% if (user.ava) { %>
                    <img src="<%= user.ava %>" alt="User Avatar" style="max-width: 100px;">
                <% } else { %>
                    <!-- Use default avatar if user's avatar is not available -->
                    <img src="/img/default_ava.svg" alt="Default Avatar" style="max-width: 100px;">
                <% } %>
                <!-- Logout button -->
                <button class="btn btn-danger mt-3" onclick="logout()">Logout</button>
                <!-- Sidebar content goes here -->
            </div>

           <!-- Content -->
            <div class="col-10">
                <div class="carousel-container">
                    <div class="owl-carousel owl-theme">
                        <% tasks.slice(0, 3).forEach(function(day) { %> <!-- Display only the first 3 days -->
                            <div class="item">
                                <div class="card">
                                    <div class="card-header">
                                        <%= day.date %>
                                    </div>
                                    <div class="card-body">
                                        <% day.taskInfo.forEach(function(task, index) { %>
                                            <% if (task.description) { %>
                                                <form id="deleteForm_<%= index %>" action="/delete-task/<%= task.id %>" method="POST">
                                                    <!-- Input field for the task -->
                                                    <div class="input-group mb-2">
                                                        <!-- Importance indicator -->
                                                        <% if (task.importance === "high") { %>
                                                            <span class="badge badge-danger mr-2">!!!</span>
                                                        <% } else if (task.importance === "medium") { %>
                                                            <span class="badge badge-warning mr-2">!!</span>
                                                        <% } else if (task.importance === "low") { %>
                                                            <span class="badge badge-success mr-2">!</span>
                                                        <% } %>
                                                        <!-- Task description -->
                                                        <input type="text" class="form-control" value="<%= index + 1 %>. <%= task.description %>">
                                                        <!-- Delete button -->
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-warning" onclick="deleteTask(event, <%= index %>)"></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            <% } %>
                                        <% }); %>
                                        <% for (let i = day.taskInfo.length + 1; i <= 6; i++) { %> <!-- Adjust to display up to 6 tasks -->
                                            <!-- Input field for a new task -->
                                            <div class="input-group mb-2">
                                                <!-- Importance dropdown menu -->
                                                <div class="input-group-prepend">
                                                    <select class="custom-select" id="importance_<%= i %>">
                                                        <option value="high">high</option>
                                                        <option value="medium">med🔥</option>
                                                        <option value="low">low🔥</option>
                                                    </select>
                                                </div>
                                                <!-- Task description -->
                                                <input type="text" class="form-control" value="" placeholder="Plan a task">
                                            </div>
                                        <% } %>
                                    </div>
                                    
                                    
                                    
                                    
                                    
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="col-12 fixed-bottom footer">
                <h3 class="text-center">Footer</h3>
                <!-- Footer content goes here -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    576: {
                        items: 2
                    },
                    768: {
                        items: 3
                    },
                    992: {
                        items: 4
                    }
                }


            });
        });
    </script>
</body>

</html>
